/*Limpar formatações padrão*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1em;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  background: #e6e6e6;
}

a {
  text-decoration: none;
}

a:not(.menu__link) {
  margin-top: 0.5em;
  display: inline-block;
}

a:link,
a:visited {
  color: #f7b600;
}

a:hover {
  text-decoration: underline;
}

/*
**** Layout ****
*/
.header {
  background-color: #f7b600;
  padding: 15px;
  text-align: center;
}

.header__logo,
.header__menu {
  padding: 10px;
}

.main {
  width: 920px;
  margin: 0 auto;
  padding: 15px;
}

.posts {
  width: 660px;
  float: left;
}

.posts__post {
  padding: 20px;
  margin-bottom: 20px;
  background: white;
}

.sidebar {
  width: 240px;
  float: right;
}

.sidebar__content {
  background: white;
  padding: 10px;
  margin-bottom: 20px;
}

.sidebar__post {
  font-size: 0.8em;
  padding: 5px;
  border-bottom: 1px dotted #ccc;
}

.sidebar__post:last-child {
  border-bottom: none;
}

.footer {
  clear: both;
  text-align: center;
  padding: 15px;
  background: #ccc;
}

/*
**** Formatação do menu ****
*/
.menu__link:link,
.menu__link:visited {
  color: #fff;
  padding: 8px 12px;
}

.menu__link:hover {
  color: #f7b600;
  background: #fff;
  text-decoration: none;
}

/*
**** Formatações em geral ****
*/
.logo {
  color: #4e4e4e;
  font-size: 2.5em;
}

.post__title {
  color: #f7b600;
}

.sidebar__content__title {
  color: #565656;
  background: #ccc;
  padding: 5px;
}

.logo--white {
  color: white;
}

.post__date {
  font-size: 0.8em;
  border-bottom: 1px solid #f4f4f4;
  padding-bottom: 10px;
  margin-bottom: 10px;
  display: block;
}
